<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--引入Vue相关JS-->
    <script src="../plugins/Vue/vuejs-2.5.16.js"></script>
    <script src="../plugins/Vue/axios-0.18.0.js"></script>
    <!--分页插件-->
    <script src="../plugins/Vue/pagination.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<div id="app">
    <!-- .box-body -->

    <div class="box-header with-border">
        <h3 class="box-title">秒杀商品管理</h3>
    </div>

    <div class="box-body">

        <!-- 数据表格 -->
        <div class="table-box">

            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" title="添加秒杀" >
                            <a href="seckill_edit.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 添加秒杀商品
                            </a>
                        </button>

                        <button type="button" class="btn btn-default" title="删除"><i class="fa fa-trash-o"></i> 删除
                        </button>
                        <button type="button" class="btn btn-default" title="提交审核"><i class="fa fa-check"></i> 批量提交申请
                        </button>
                        <button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i
                                class="fa fa-ban"></i> 屏蔽
                        </button>
                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                                class="fa fa-refresh"></i> 刷新
                        </button>
                    </div>
                </div>
            </div>

            <div class="box-tools pull-right">
                <div class="has-feedback">
                    状态：<select >
                    <option value="">全部</option>
                    <option value="0">未审核</option>
                    <option value="1">已审核</option>
                    <option value="2">审核未通过</option>
                    <option value="3">关闭</option>
                </select>
                </div>
            </div>
            <!--工具栏/-->

            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th class="sorting_asc">商品ID</th>
                    <th class="sorting">商品名称</th>
                    <th class="sorting">商品原价</th>
                    <th class="sorting">秒杀价格</th>
                    <th class="sorting">开始时间</th>
                    <th class="sorting">结束时间</th>
                    <th class="sorting">状态</th>
                    <th class="sorting">参与秒杀数</th>
                    <th class="sorting">库存</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="SeckillGoods in list">
                    <td><input type="checkbox"></td>
                    <td>{{SeckillGoods.goodsId}}</td>
                    <td>{{SeckillGoods.title}}</td>
                    <td >{{SeckillGoods.price}}  </td>
                    <td>{{SeckillGoods.costPrice}}</td>
                    <td>{{SeckillGoods.startTime}}</td>
                    <td>{{SeckillGoods.endTime}}</td>
                    <td>{{SeckillGoods.status}}</td>
                    <td>{{SeckillGoods.num}}</td>
                    <td>{{SeckillGoods.stockCount}}</td>

                    <td class="text-center">
                      <!--  <a :href="'goods_edit.html?id='+goods.id" class="btn bg-olive btn-xs">提交</a>-->
                        <a href="#" class="btn bg-olive btn-xs">提交</a>
                        <a href="#" class="btn bg-olive btn-xs">修改</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--数据列表/-->
            <!--分页插件{pages:总页数,current.sync:当前页,navpage:分页插件刷新数据调用的方法}
                注意：上面提到的变量需要在Vue中声明-->
            <!--<navigation :pages="pages" :current.sync="pageNo" @navpage="findPage"></navigation>-->


        </div>
        <!-- 数据表格 /-->


    </div>
    <!-- /.box-body -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">秒杀商品新增</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped"  width="800px">
                        <tr>
                            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                <tr>
                                    <th class="" style="padding-right:0px">
                                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                                    </th>
                                    <th class="sorting_asc">商品ID</th>
                                    <th class="sorting">商品名称</th>
                                    <th class="sorting">商品原价</th>
                                    <th class="sorting">秒杀价格</th>
                                    <th class="sorting">开始时间</th>
                                    <th class="sorting">结束时间</th>
                                    <th class="sorting">状态</th>
                                    <th class="sorting">参与秒杀数</th>
                                    <th class="sorting">库存</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="SeckillGoods in list">
                                    <td><input type="checkbox"></td>
                                    <td>{{SeckillGoods.goodsId}}</td>
                                    <td>{{SeckillGoods.title}}</td>
                                    <td >{{SeckillGoods.price}}  </td>
                                    <td>{{SeckillGoods.costPrice}}</td>
                                    <td>{{SeckillGoods.startTime}}</td>
                                    <td>{{SeckillGoods.endTime}}</td>
                                    <td>{{SeckillGoods.status}}</td>
                                    <td>{{SeckillGoods.num}}</td>
                                    <td>{{SeckillGoods.stockCount}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </tr>
                        <tr>
                            <td>秒杀价格</td>
                            <td><input class="form-control" placeholder="秒杀价格">  </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
<!--引入Vue前端逻辑JS-->
<script src="../controller/seackillController.js"></script>

</html>